@font-face {
    font-family: OlympicSans;
    src: url(fonts/OlympicSans.ttf);
}

body {
    background-color: #F5F5F5;
    font-family: OlympicSans black;
}

.firtSection {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 0.1rem;
    padding: 2%;
}

#rioLogoCountries {
    height: 12rem;
    width: 11rem;
    padding-right: 10%;
}

#rioImageCountries {
    height: 12rem;
    width: 18rem;
    border-radius: 5%;
}
/*Aquí termina el encabezado con los logotipos*/


html,
body,
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  
  overflow: hidden;
}

thead th {
  color: #fff;
  background-color: #0199d9;
}

#thEvent{
  white-space: nowrap;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
  /* overflow-y: scroll;  */
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
}

table {
    border-collapse: collapse;
    border: 0.1rem solid rgb(200,200,200);
    letter-spacing: 0.1rem; 
    font-family: OlympicSans;
    font-size: 1rem;
  }
  
  td, th {
    border: 0.1rem solid rgb(190,190,190);
    padding: 0.6rem 1rem;
  }
   
  /*Aquí termina la tabla para mostrar el país y su número de atletas*/

.containerCountries {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 10rem 2rem;
}

.input_country {
    display: flex;
    font-family: OlympicSans;
    font-size: 1.1rem;
    display: inline-block;
    margin-right: 2rem; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.9em 1em 0.4em 2em;
    border: 0.1em solid #075f81;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    color: rgba(17,103,135,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252,252,252,1);
    -webkit-box-shadow: 0.2em 0.2em 0em 0 rgba(0,0,0,0.2) ;
    box-shadow: 0.2em 0.2em 0em 0 rgba(0,0,0,0.2) ;
}

.input_gender {
  display: flex;
  font-family: OlympicSans;
  font-size: 1.1rem;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 9em;
  padding: 0.9em 1em 0.4em 2em;
  border: 0.1em solid #075f81;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  color: rgba(17,103,135,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 0.2em 0.2em 0em 0 rgba(0,0,0,0.2) ;
  box-shadow: 0.2em 0.2em 0em 0 rgba(0,0,0,0.2) ;
}


  .submit_show {
    display: inline-block;
    align-self: center; 
    padding-left: 5%;
    padding: 0.9em 1em 0.4em 2em;
    font-family: OlympicSans;
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 0.125rem;
    cursor: pointer;
    margin: 2rem;
    text-overflow: clip;
    border: 0.1rem solid #018dc4;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    background: #0199d9;
    -webkit-box-shadow: 0.2em 0.2em 0em 0 rgba(0,0,0,0.2) ;
    box-shadow: 0.2em 0.2em 0em 0 rgba(0,0,0,0.2) ;
  }

